/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
logs/

# rspec failure tracking
.rspec_status
# credentials
.hwm_credentials.yml
# captcha
captcha.png
.byebug_history
secrets.yml
